section {
    padding: 80px 0 50px 0;
}

.container {
    max-width: 95%;
    margin: 0 auto !important;
}

.navbar {
    background: #39015d;
}

.nav-item a {
    color: #fff;
    font-weight: 300;
}

table {
    background: #2b004a !important;
}

.swiper {
    width: 100%;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

/*Youtube Section */

.youtube {
    background: #25003e;
}

.courseImg {
    border-radius: 10px;
}

.course-item-para {
    margin: 10px 0 0 0;
    color: #d3d3d3;
    font-weight: 400;
    font-size: 12px;
}

.top-courses {
    background: #2b004a;
}

.top-course-item {
    background: #39015d;
    padding: 0.5em;
}

.tc-head {
    font-size: 15px;
}

.tc-para {
    font-size: 13px;
}

.crypto-trade {
    background: #2b004a;
}

.ct-head {
    font-size: 30px;
}

.ct-para {
    color: #d3d3d3;
}

.stat-item {
    background: #39015d;
    padding: 1em 1em 0 1em;
    border-radius: 10px;
}

.stat-head {
    color: white;
    font-size: 18px;
}

.achieve-head {
    font-size: 40px !important;
}

.achieve-para {
    font-size: 20px;
}

.achieve-btn {
    font-size: 20px;
    padding: 0.6em 2em;
    border: none;
    background: #814cff;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
}

.stat-data {
    font-size: 30px;
}

.stat-name {
    font-weight: 700;
    color: #9884fb;
    font-size: 20px
}

.subscribe-input {
    width: 400px;
    padding: 8px 10px
}

footer {
    background: #000;
}

.footer-wrapper {
    padding: 50px 0;
}

.footer-desc {
    color: rgba(255, 255, 255, 0.83);
    font-size: 14px;
}

.footer-list-head {
    color: #fff;
    font-size: 14px;
}

.footer-list {
    list-style-type: none;
}

.footer-list li {
    margin: 20px 0;
}

.footer-list li a {
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
    text-decoration: none;
    margin-left: -40px;
}

.footer-bottom {
    background: #19202a;
    padding: 10px 0;
    color: rgba(255, 255, 255, 0.83);
}

@media only screen and (max-width: 600px) {
    .achieve-head {
        font-size: 30px !important;
    }

    .achieve-para {
        font-size: 22px !important;
    }

    .achieve-btn {
        font-size: 15px;
    }

    .subscribe-img{
        display: none !important;
    }

    .subscribe-input {
        width: 230px;
        padding: 8px 10px
    }
}