section{
    padding: 50px 0 50px 0;
}

.container{
    max-width: 95%;
    margin: 0 auto !important;
}

.navbar{
    background: #39015d;
}

.nav-item a{
    color: #fff;
    font-weight: 300;
}

table{
    background: #2b004a !important;
}

.swiper {
    width: 100%;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

/*Youtube Section */

.youtube{
    background: #25003e;
}

.courseImg{
    border-radius: 10px;
}

.course-item-para{
    margin: 10px 0 0 0;
    color: #d3d3d3;
    font-weight: 400;
    font-size: 12px;
}

.top-courses{
    background: #2b004a;
}

.top-course-item{
    background: #39015d;
    padding: 0.5em;
}

.tc-head{
    font-size: 10px;
}

.tc-para{
    font-size: 13px;
}

.crypto-trade{
    background:#2b004a;
}

.ct-head{
    font-size: 30px;
}

.ct-para{
    color: #d3d3d3;
}

.stat-item{
    background:#39015d;
    padding: 1em 1em 0 1em;
    border-radius: 10px;
}

.stat-head{
    color: white;
    font-size: 18px;
}